<table *ngIf="data" border="1" align="center">
  <tr>
    <th>Flight Number</th>
    <th>Duration</th>
    <th>Departure Schedule</th>
    <th>Arival Schedule</th>
    <th>Economy Fare</th>
    <th>Business Fare</th>
    <th>Select</th>
  </tr>
  <tr *ngFor="let d of data">
    <td>{{ d.flightNumber }}</td>
    <td>{{ d.duration }}</td>
    <td>{{ d.departureSchedule }}</td>
    <td>{{ d.arrivalSchedule }}</td>
    <td>{{ d.initialEconomyfare }}</td>
    <td>{{ d.initialBusinessfare }}</td>
     <td><button (click)= "viewFlight(d.flightNumber,d.initialEconomyfare)">Check this Flight</button></td>
</table>
  <br><br>
  <router-outlet></router-outlet>