body {font-family: "Lato", sans-serif;}

.admin{

  background-image: url("/assets/admin-dashboard.jpg");
    background-color: #cccccc;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
 h2{
   text-align: center;
 } 
.sidebar {
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 120px;
  left: 0;
  background-color: cornsilk;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #111;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}