<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="sidebar">
        <a routerLink="/addflightlink"><i class="fa fa-fw fa-plus"></i> Add Flight</a><br>
        <a routerLink="/deleteflightlink"><i class="fa fa-fw fa-trash"></i> Delete Flight</a><br>
        <a routerLink="/updateflightlink"><i class="fa fa-fw fa-wrench"></i> Update Flight</a><br />
        <a routerLink="/homelink"><i class="fa fa-fw fa-search"></i> Search Flight</a>
    </div>


    <form (ngSubmit)="getFlights()" method="POST">
        <div class="search">
            <h2><u>SEARCH FLIGHT</u></h2><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



            Type of Trip:
            <input type="radio" name="flightType">
            <label>One Way</label>
            <input type="radio" name="flightType">
            <label>Round Trip</label><br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Source Station:&nbsp;&nbsp;&nbsp;
            <input list="source" placeholder="From" name="source" style="background-color:whitesmoke"
                [(ngModel)]=sp.source><br><br>
            <datalist id="source">
                <option value="Delhi">
                <option value="Mumbai">
                <option value="Chennai">
                <option value="Bangalore">
                <option value="Dehradun">
                <option value="Kolkata">
                <option value="Hyderabad">
                <option value="Chandigarh">
                <option value="Goa">
                <option value="Patna">
            </datalist>
            <br>
            <label>{{sp.source}}</label>
            <br>
            Destination Station:&nbsp;&nbsp;&nbsp;
            <input list="Destination" placeholder="To" name="destination" style="background-color:whitesmoke"
                [(ngModel)]="sp.destination"><br><br>
            <datalist id="Destination">
                <option value="Delhi">
                <option value="Mumbai">
                <option value="Chennai">
                <option value="Bangalore">
                <option value="Dehradun">
                <option value="Kolkata">
                <option value="Hyderabad">
                <option value="Chandigarh">
                <option value="Goa">
                <option value="Patna">
            </datalist>

            <br>
            <label>{{sp.destination}}</label>
            <br>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date:&nbsp;&nbsp;&nbsp;
            <input type="date" placeholder="From" name="dateOfFlight" style="background-color:whitesmoke"
                [(ngModel)]=sp.dateOfFlight><br><br>
            <br>
            <label>{{sp.dateOfFlight}}</label>
            <br>

            <br>
            Number of Passengers:&nbsp;&nbsp;&nbsp;<select name="numberOfPassengers" [(ngModel)]=sp.numberOfPassengers>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>

            </select>

            <br>
            <label>{{sp.numberOfPassengers}}</label>
            <br>
            <br>

            Cabin Type:&nbsp;&nbsp;&nbsp;
            <input list="cabin" placeholder="Cabin" name="cabinSelected" style="background-color:whitesmoke"
                [(ngModel)]=sp.cabinSelected><br><br>
            <datalist id="cabin">
                <option value="economy">
                <option value="business">
            </datalist>
            <br>
            <br>
            <label>{{sp.cabinSelected}}</label>
            <br>
            <button type="submit">Search</button>
            <br><br>
        </div>
    </form>

    <table *ngIf="data" border="1" align="center">
        <tr>
            <th>Flight Number</th>
            <th>Duration</th>
            <th>Departure Schedule</th>
            <th>Arival Schedule</th>
            <th>Economy Fare</th>
            <th>Business Fare</th>
            <th>Select</th>
        </tr>
        <tr *ngFor="let d of data">
            <td>{{ d.flightNumber }}</td>
            <td>{{ d.duration }}</td>
            <td>{{ d.departureSchedule }}</td>
            <td>{{ d.arrivalSchedule }}</td>
            <td>{{ d.initialEconomyfare }}</td>
            <td>{{ d.initialBusinessfare }}</td>
            <td><button (click)="selectFlight(d)">Check this Flight</button></td>
    </table>
    <br><br>
    <router-outlet></router-outlet>

</body>