<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <h1>Business Class</h1><br/>
        <p>
            Taking AirFuselage hospitality to the skies! In Business Class, we make your trip the most pleasurable experience, with award winning dishes, <br/>
            the latest in-flight entertainment system, and comfortable seating. By choosing Business Class, you too can feel special in the skies and<br/>
            travel in comfort as you enjoy the miles you have earned through Miles&Smiles.<br/><br/>
        </p>
    </div>
    <div class="row">
        <div class="column">
            <img src="./assets/businessClass.jpg" alt="5 Terre" style="width:100%">
            <div class="container">
                <h2>Maximum comfort</h2>
                <p>
                    Our Business Class seating has been specially
                    designed for your comfort to the highest level.
                    We double your joy of travel with special
                    features such as in-chair massage, reading
                    lamp, power supply, and the facility to screen
                    off your own private area.
                </p>
            </div>
        </div>
        <div class="column">
            <img src="./assets/businessClassbaggage.jpg" alt="5 Terre" style="width:100%" >
            <div class="container">
                <h2>Extra baggage allowance</h2>
                <p>
                    Traveling in Business Class entitles you to extra baggage
                    allowance and also means you can collect your baggage
                    much more quickly after the flight, thanks to your Business 
                    Class priority baggage label.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="./assets/businessClasshsp1.jpg" alt="5 Terre" style="width:100%">
            <div class="container">
                <h2>Inflight Catering</h2>
                <p>
                    Throughout your comfortable journey in
                    Business Class, our flying chefs will 
                    present you with the finest examples of 
                    Indian and world cuisine, we make sure that your
                    trip is also a journey of tastes, with 
                    our award-winning dining on board service,
                    prepared by Indian Do&Co.
                </p>
            </div>
        </div>
        <div class="column">
            <img src="./assets/businessClasscheckin.jpg" alt="5 Terre" style="width:100%" >
            <div class="container">
                <h2>Preferential check-in</h2>
                <p>
                    Passengers who choose Business Class can avoid airport queues 
                    by checking in at one of our dedicated Business Class counters.
                    Fast check-in process is delivered to aur business class passengers
                    by checking in at one of our special Business Class desks at the 
                    airport, So that you can avoid large queues.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
